//Global Colors - update theme.json manually to display these colors in block options
$colors : (
    'white' : #FFFFFF,
    'black' : #000000,
    'primary' : #004E89,
    'secondary' : #039C61,
    'orange' : #F05A28,
    'grey' : #DADADA,
    'grey-shade-1': #01040B,
    'grey-shade-7': #ACB1BD,
    'grey-shade-8': #CDD0D7,
    'grey-shade-6': #83899C,
    'grey-shade-5': #303B5A,
    'dark-05': #EFEFEF,
    'dark-03': #8D9091,
    'subtle-blue': #9999BC,
    'deep-black': #071439,
    'tone-orange': #FFF1E9,
    'transparent' : transparent,
);

//Font Colors
$body_font_color: map-get($colors, 'primary');

//Background Colors
$chat_background_container_color: var(--robin-chat-color-background-container, map-get($colors, 'white'));

// Link Colors